<aside>
    <ul id="sidebar-nav">
        <li>
            <a href="#">PROJE İŞLEMLERİ</a>
            <ul class="drop" style="display: block;">
                <li><a href="/yonetim/projegruplari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Proje Grubu Tanımı</a></li>
                <li><a href="/yonetim/yeniprojeekle"><img src="/Areas/Admin/Content/images/icons/16/page.png">Yeni Proje Ekle</a></li>
            </ul>

        <li>
            <a href="#">PROJE DURUMLARI</a>
            <ul class="drop" style="display: block;">

                <li><a href="/yonetim/bekleyenprojeler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Onay Bekleyen Projeler</a></li>
                <li><a href="/yonetim/onaylananprojeler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Onaylanan Projeler</a></li>
                <li><a href="/yonetim/iptaledilenprojeler"><img src="/Areas/Admin/Content/images/icons/16/page.png">İptal Edilen Projeler</a></li>
            </ul>
        </li>
    </ul>
    <br /> <br />

</aside>


