.field-validation-error{
    color:maroon;
}
.breadcrumbcustom{
    margin-bottom:20px;
    background: url('/Images/bgimage.png') repeat 0 0;
    background-position-y: -19px;
    /* opacity: 0.5; */
}

.basvuru{
    border-radius: 30px;width: 170px;opacity:0.8;
}

.basvuru:hover{
    border-radius: 30px;width: 170px;opacity:1;
}