@*@model deneysan.Models.HomePageWrapperModel*@
@{
    ViewBag.Title = "Deneysan Eğitim Cihazları";
    Layout = "/Views/Shared/frontlayout.cshtml";
}


<div class="container full-width-container ihome-banner">
    <div class="banner col-sm-12 col-xs-12 col-md-12">

        <ul>
            <!-- THE BOXSLIDE EFFECT EXAMPLES  WITH LINK ON THE MAIN SLIDE EXAMPLE -->

            <li data-transition="papercut" data-slotamount="7">

                <!-- MAIN IMAGE -->
                <img src="images/new-slider/s1-bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfb skewtoright imed-sl1"
                     data-x="left"
                     data-y="bottom"
                     data-hoffset="0"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <img src="images/new-slider/s1-img4.png" alt="" class="img-responsive">
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption lft skewtoright imed-sl1"
                     data-x="left"
                     data-y="85"
                     data-hoffset="83"
                     data-speed="1200"
                     data-start="1300"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <img src="images/new-slider/s1-img3.png" alt="" class="img-responsive">
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption lft skewtoright imed-sl1"
                     data-x="left"
                     data-y="74"
                     data-hoffset="45"
                     data-speed="1400"
                     data-start="1600"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <img src="images/new-slider/s1-img2.png" alt="" class="img-responsive">
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption lft skewtoright imed-sl1"
                     data-x="left"
                     data-y="45"
                     data-hoffset="61"
                     data-speed="1600"
                     data-start="1900"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <img src="images/new-slider/s1-img1.png" alt="" class="img-responsive">
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption bluebg-t1 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="115"
                     data-hoffset="-60"
                     data-speed="1000"
                     data-start="2400"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <b>ARGEMSAN</b> projelerinizi <br> hayata geçiriyor.
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption bluebg-t2 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="222"
                     data-hoffset="-10"
                     data-speed="1000"
                     data-start="2900"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    Hemen Başvur&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption bluebg-t3 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="280"
                     data-hoffset="-60"
                     data-speed="1000"
                     data-start="3400"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    Verdiğimiz hizmet ile projelerinizi hayata geçirmek artık çok kolay.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption s1-but customin skewtoright imed-sl1"
                     data-x="center"
                     data-y="365"
                     data-hoffset="205"
                     data-speed="1000"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-start="3900"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn"><a href="#">Proje Başvurusu&nbsp;&nbsp;</a></div>




            </li>

            <li data-transition="papercut" data-slotamount="7">

                <!-- MAIN IMAGE -->
                <img src="images/new-slider/s3-bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb skewtoright imed-sl1 rs-parallaxlevel-1"
                     data-x="left"
                     data-y="30"
                     data-hoffset="-20"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <img src="images/new-slider/s3-img1.png" alt="" class="img-responsive">
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption lfb skewtoright imed-sl1 rs-parallaxlevel-2"
                     data-x="left"
                     data-y="220"
                     data-hoffset="203"
                     data-speed="1200"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <img src="images/new-slider/s3-img2.png" alt="" class="img-responsive">
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption bluebg-t1 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="115"
                     data-hoffset="-60"
                     data-speed="1000"
                     data-start="2400"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    Argemsan.com  yakında <br /> yayında!
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption bluebg-t2 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="222"
                     data-hoffset="-10"
                     data-speed="1000"
                     data-start="2900"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    Bizi takipte kalın &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption bluebg-t3 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="280"
                     data-hoffset="-60"
                     data-speed="1000"
                     data-start="3400"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">Lorem Ipsum is simply dummy text of the printing and typesetting<br>industry, it has been the industry's standard.</div>

            </li>



        </ul>

    </div>
</div>







<div class="parallax-out wpb_row vc_row-fluid ihome-parallax">


    <div id="second" class="upb_row_bg vcpb-hz-jquery" data-upb_br_animation="" data-parallax_sense="30" data-bg-override="ex-full">

        <div class="container">
            <div class="row">

                <div class="bg col-lg-4 col-sm-4 col-md-5 col-xs-12 notViewed wow fadeInUp" data-wow-delay="1.5s" data-wow-offset="200"></div>

                <div class="float-right col-lg-7 col-sm-7 col-md-7 col-xs-12">

                    <div class="iconlist-wrap">
                        <div class="subtitle notViewed wow fadeInRight" data-wow-delay="0.5s" data-wow-offset="20">Neden <span class="iconlist-mid-title">Argemsan?</span></div>
                        <ul>
                            <li class="notViewed wow fadeInDown" data-wow-delay="0.5s" data-wow-offset="50">
                                <i class="icon-hospital2 icon-list-icons"></i>
                                <div class="iconlist-content">

                                    <div class="iconlist-title">Projenizi destekliyoruz</div>
                                    <p class="iconlist-text">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam.
                                    </p>
                                </div>

                            </li>

                            <li class="notViewed wow fadeInDown" data-wow-delay="0.5s" data-wow-offset="70">
                                <i class="fa fa-ambulance icon-list-icons"></i>
                                <div class="iconlist-content">

                                    <div class="iconlist-title">Sizi Bekletmiyoruz</div>
                                    <p class="iconlist-text">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam.
                                    </p>
                                </div>
                            </li>
                            <li class="notViewed wow fadeInDown" data-wow-delay="0.5s" data-wow-offset="60">
                                <i class="fa fa-user-md icon-list-icons"></i>
                                <div class="iconlist-content">

                                    <div class="iconlist-title">Bizimle Çalışmak İster misiniz?</div>
                                    <p class="iconlist-text">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam.
                                    </p>
                                </div>

                            </li>
                        </ul>
                    </div>


                </div>
            </div> <!--.story-->
        </div>
    </div> <!--#second-->

</div>



<!--Purchase Box-->

<div class="purchase-wrap-blue ipurchase-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 pull-right">
                <div class="purchase-strip-blue pull-right col-sm-12 col-md-12 col-xs-12 pull-left notViewed wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="150">
                    <div class="purchase-strip-text"><span class="ipurcahse-strip-text">ARGEMSAN</span> PROJE ÖN BAŞVURU FORMU İÇİN </div>
                    <div class="color-4">
                        <p class="ipurchase-paragraph">
                            <button class="icon-cart btn btn-4 btn-4a notViewed wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="150">TIKLAYINIZ</button>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!--Purchase Box-->


<div class="container">
    <div class="row">


        <!--Latest Post Start-->

        <div class="col-xs-12 col-sm-12 col-md-12 pull-left">

            <div class="latest-post-wrap pull-left wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="100">
                <div class="subtitle col-xs-12 no-pad col-sm-11 col-md-12 pull-left news-sub">Haberler / Duyurular</div>

                <!--Post item-->
                <div class="post-item-wrap pull-left col-sm-6 col-md-12 col-xs-12">
                    <img src="images/news-1.png" class="img-responsive post-author-img" alt="" />
                    <div class="post-content1 pull-left col-md-9 col-sm-9 col-xs-8">
                        <div class="post-title pull-left"><a href="#">Etiam tristique sagittis pulvinar</a></div>
                        <div class="post-meta-top pull-left">
                            <ul>
                                <li><i class="icon-calendar"></i>25 DEC 2013</li>
                            </ul>
                        </div>
                    </div>
                    <div class="post-content2 pull-left">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam nibh, lobortis et augue et, semper faucibus dui. Sed consequat vulputate rutrum. Quisque rutrum, massa at fermentum semper, erat ex viverra ligula, eget sodales dolor justo ut sapien. Nunc lacus ante, lacinia in nisl quis, convallis vehicula elit. Suspendisse sit amet aliquet nunc. Nunc varius felis justo, sit amet auctor nisi malesuada sit amet. Curabitur maximus ultrices elit.

                            Nulla facilisi. Aliquam imperdiet libero vitae leo hendrerit, et euismod mi maximus. Nulla egestas ligula a leo convallis, vel faucibus justo posuere. Pellentesque dignissim mauris a mi convallis commodo. Donec bibendum eu sem sit amet euismod. Suspendisse nec semper neque, nec commodo justo. Pellentesque iaculis eget quam et consectetur.<br />
                            <span class="post-meta-bottom"><a href="">Devamı...</a></span>
                        </p>
                    </div>
                </div>
                <!--Post item-->
                <div class="post-item-wrap pull-left col-sm-6 col-md-12 col-xs-12">
                    <img src="images/news-1.png" class="img-responsive post-author-img" alt="" />
                    <div class="post-content1 pull-left col-md-9 col-sm-9 col-xs-8">
                        <div class="post-title pull-left"><a href="#">Etiam tristique sagittis pulvinar</a></div>
                        <div class="post-meta-top pull-left">
                            <ul>
                                <li><i class="icon-calendar"></i>25 DEC 2013</li>
                            </ul>
                        </div>
                    </div>
                    <div class="post-content2 pull-left">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam nibh, lobortis et augue et, semper faucibus dui. Sed consequat vulputate rutrum. Quisque rutrum, massa at fermentum semper, erat ex viverra ligula, eget sodales dolor justo ut sapien. Nunc lacus ante, lacinia in nisl quis, convallis vehicula elit. Suspendisse sit amet aliquet nunc. Nunc varius felis justo, sit amet auctor nisi malesuada sit amet. Curabitur maximus ultrices elit.

                            Nulla facilisi. Aliquam imperdiet libero vitae leo hendrerit, et euismod mi maximus. Nulla egestas ligula a leo convallis, vel faucibus justo posuere. Pellentesque dignissim mauris a mi convallis commodo. Donec bibendum eu sem sit amet euismod. Suspendisse nec semper neque, nec commodo justo. Pellentesque iaculis eget quam et consectetur.<br />
                            <span class="post-meta-bottom"><a href="">Devamı...</a></span>
                        </p>
                    </div>
                </div>



                <a href="#" class="dept-details-butt posts-showall">Tümü</a>

            </div>
        </div>

    </div>
</div>