<aside>
<ul id="sidebar-nav"> 
<li><a href="#">BAŞVURU İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/isbasvurulari"><img src="/Areas/Admin/Content/images/icons/16/page.png">CV Listesi</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>